

.wrapper {
    width: 100%;
}

.carousel {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}

.carousel .card {
    color: #fff;
    text-align: center;
    margin: 20px 0;
    line-height: 250px;
    font-size: 90px;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.img-tb {
    color: #fff;
    text-align: center;
    margin: 20px 0;
    line-height: 250px;
    font-size: 90px;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

/* .carousel .card-1 {
    background: #ed1c24;
}

.carousel .card-2 {
    background: #0072bc;
}

.carousel .card-3 {
    background: #39b54a;
}

.carousel .card-4 {
    background: #f26522;
}

.carousel .card-5 {
    background: #630460;
} */

.carousel .card-img {
    /* background: #ed1c24; */
    /* width: 200px; */
    background: #fff;
    
}

.carousel .card-img img {
    border-radius: 10px;
    display: block !important;
    margin-left: auto;
    margin-right: auto;
    width: 50% !important;
}

.owl-dots {
    text-align: center;
    margin-top: 40px;
}

.owl-dot {
    height: 15px;
    width: 45px;
    margin: 0 5px;
    outline: none;
    border-radius: 14px;
    border: 2px solid #0072bc !important;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.owl-dot.active,
.owl-dot:hover {
    background: #0072bc !important;
}


@media (min-width:768px) {
    .tb-hide {
        display: none;
    }
}

.active_tb {
    color: #3496d8 !important;
}

img.logo-header {
    width: 90px;
}
img.logo-body {
    width: 220px;
}


.tm-hero-subtitle {
    color: #fff;
    text-shadow: 2px 5px 5px #3496d8;
    /* text-shadow:
        0 -2px 0 #3496d8,
        0 2px 0 #3496d8,
        -2px 0 0 #3496d8,
        2px 0 0 #3496d8,
        -2px -2px 0 #212121,
        2px -2px 0 #212121,
        -2px 2px 0 #212121,
        2px 2px 0 #212121,
        -2px 9px 0 #212121,
        0 9px 0 #212121,
        2px 9px 0 #212121,
        0 19px 1px rgba(0, 0, 0, .1),
        0 2px 2px rgba(0, 0, 0, .3),
        0 12px 4px rgba(0, 0, 0, .2),
        0 9px 9px rgba(0, 0, 0, .25),
        0 24px 24px rgba(0, 0, 0, .2),
        0 36px 36px rgba(0, 0, 0, .15); */
    font-weight: 600;
}

@media (max-width:500px) {
    .tm-hero-subtitle {
        font-size: 18px;
    }
}
@media (min-width: 501px) and (max-width: 680px) {
    .tm-hero-subtitle {
        font-size: 25px;
    }
}
@media (min-width:681px) {
    .tm-hero-subtitle {
        font-size: 35px;
    }
}